section {
  margin: 10px;
}

.box1 {
  width: 100px;
  height: 100px;
  background-color: red;
  border: 5px solid lightskyblue;
  /* transition: background-color 2s linear 2s; */
  /* the transition properties and durations are used to separate the values. */
  transition-property: background-color, border, height, width;
  transition-duration: 2s, 2s, 2s, 2s;
}

.box1:hover {
  width: 150;
  height: 60px;
  background-color: lightskyblue;
  border: 5px dashed red;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: red;
  font-size: 20px;
  left: 0px;
  top: 0px;
  position: relative;
  transition-property: width height background-color font-size left top transform color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.box2:hover {
  transform: rotate(270deg);
  width: 50px;
  height: 50px;
  background-color: blue;
  color: yellow;
  font-size: 18px;
  left: 25px;
  top: 10px;
  position: relative;
  transition-property: width height background-color font-size left top transform color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.animated-box {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  /* animation name is flash, is fictitious name, defined using @keyframes */
  animation-name: flash;
  animation-delay: 1s;
  /* repeats 3s, use infinite for non-stop */
  animation-iteration-count: 3;
  animation-fill-mode: both;
  animation-duration: 2s;
  animation-direction: alternate;
}

@keyframes flash {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}



/* Slide 19 */
.transform-circle {
  width: 300px;
  height: 300px;
  background-color: aquamarine;
  border-radius: 50%;
  text-align: center;
  transform: translate(30px, 80px) rotate(90 deg);
}

/*Slide 20 */
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-duration: 2s;
  width: 100px;
  height: 100px;
  background-color: aqua;
  text-align: center;
}